<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://madescape.zies.net/static/jquery-ui-1.10.0.custom.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://madescape.zies.net/static/jquery-ui.js"></script>
	<script type="text/javascript" src="static/drugged.js"></script>	
    <title>get your drugs 'ere</title>
    <style>
        .title p {
            font-size: 50;
            font-weight: 600;
        }
		
		a {
			font-size: 20px;
            text-decoration: none;
		}

        a:link, a:visited {
            color: black;
        }

        a:hover {
            color: blue;
        }
			
		p.errormessage{	
			color: red;
		}
		.git a {
			font-size: 15px;
            text-decoration: none;
		}

        .git a:link, a:visited {
            color: black;
        }

        .git a:hover {
            color: blue;
        }

        .git p {
            margin-bottom: 5px;
        }

    </style>
    <script>
        var drugs_all = {{ drugs_all|safe }}
    </script>
  </head>
<body>
	<div class="jumbotron text-center">
		<h1>Mad Escape</h1>
		<form class="form-inline">
			<div class="input-group">
				<input id="sear" class="form-control" type="text" size="50" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-primary" id="addRow">Add</button>
				</div>
			</div>
		</form>
		<p class="errormessage">
	</div>
	<div class="container">
		<h3>Drug List:</h3>
		<a class="filterarray" href="#A">A</a>
		<a class="filterarray" href="#B">B</a>
		<a class="filterarray" href="#C">C</a>
		<a class="filterarray" href="#D">D</a>
		<a class="filterarray" href="#E">E</a>
		<a class="filterarray" href="#F">F</a>
		<a class="filterarray" href="#G">G</a>
		<a class="filterarray" href="#H">H</a>
		<a class="filterarray" href="#I">I</a>
		<a class="filterarray" href="#J">J</a>
		<a class="filterarray" href="#K">K</a>
		<a class="filterarray" href="#L">L</a>
		<a class="filterarray" href="#M">M</a>
		<a class="filterarray" href="#N">N</a>
		<a class="filterarray" href="#O">O</a>
		<a class="filterarray" href="#P">P</a>
		<a class="filterarray" href="#Q">Q</a>
		<a class="filterarray" href="#R">R</a>
		<a class="filterarray" href="#S">S</a>
		<a class="filterarray" href="#T">T</a>
		<a class="filterarray" href="#U">U</a>
		<a class="filterarray" href="#V">V</a>
		<a class="filterarray" href="#W">W</a>
		<a class="filterarray" href="#X">X</a>
		<a class="filterarray" href="#Y">Y</a>
		<a class="filterarray" href="#Z">Z</a>
		<table class="table table-hover" id="listTable">
			<tbody>
			
			</tbody>
		</table>
	</div>
	<div class="container">
		<h3>Picked Drugs:</h3>
		<form id="chosenDrugs">
		<table class="table table-hover" id="pickedTable">
			<tbody>
				
			</tbody>
			<tfoot>
				<tr>
					<td><button type="submit" class="btn btn-primary" id="interaction">Find Interaction!</button>
					<td><button class="btn btn-danger" id="resetTable">Reset</button></td>
				</tr>
			</tfoot>
		</table>
		</form>
    <div class="git">
    <p>
    <a href="https://gitlab.com/kenzietandun/py-drugs-interactions"><i class="fa fa-github" style="font-size:15px"></i></a>
    Commit: {{ commit_version }} </p>
    <p>Bug/Feature Request: <a href="https://gitlab.com/kenzietandun/py-drugs-interactions/issues">Link</a></p>
    </div>
	</div>
</body>
</html>
</html>
